//gird
.col-lg-3{
    width: 22%;
}
.col-lg-4{
    width: 31.3333%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-7{
    width: 58%;
}
.col-lg-8{
    width: 66%;
}
.col-lg-12{
    width: 100%;
}

@include tablet{
    .col-md-6{
        width: 48%;
     }
     .col-md-7{
         max-width: 58%;
     }
     .col-md-5{
         max-width: 42%;
     }
}

@include mobile{
    .col-sm-6{
        width: 50%;
    }
    .col-sm{
        width: 100%;
    }
}